build/
bin/
obj/
out/
*.o
*.d
*.a
*.so
*.elf
*.bin
*.hex
*.map
*.log
*.tmp
*.swp
*.bak
*~
.DS_Store
Thumbs.db
.vscode/x
pycache/
*.pyc
*.flash

gcc/*.obj
gcc/*.out
gcc/*.map
gcc/*.elf
gcc/*.bin
gcc/*.hex